*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #ffffff;
  color: #070342;
  padding: 8px 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  margin: 0 20px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

header .logo img {
  width: 40px;
  height: 40px;
}

header .logo h1 {
  font-size: 1rem;
}

header nav ul {
  list-style: none;
  display: flex;
  margin: 0 20px;
}

header nav ul li {
  margin: 0 15px;
  font-size: 1rem;
  position: relative;
}

header nav a {
  color: #070342;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

header nav a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #070342;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

header nav a:hover::after {
  transform: scaleX(1);
}
